/* JUST SOME STYLE FOR THIS PLAYER ONLY REMOVE */
.vjs-otnet .vjs-control-bar {
    background-color: #2e3448;
    font-size: 1em;
    height: 4em;
}

.vjs-otnet .vjs-mouse-display .vjs-time-tooltip {
    display: none !important;
}

.vjs-otnet .vjs-menu-button-popup .vjs-menu {
    bottom: 1em !important;
}

.vjs-otnet .vjs-playback-rate .vjs-playback-rate-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vjs-otnet .vjs-time-control { 
    line-height: 4em;
}

.vjs-otnet .vjs-fa-icon {
    font-size: 15px !important;
}

.vjs-otnet .vjs-button>.vjs-icon-placeholder:before {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.video-has-bif .bif-thumbnail {
    display: none;
    border-radius: 5px;
    overflow: hidden;
    background: #888; 
    bottom: 45px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20em;
    margin-left: 0em;
    text-align: center;
}

.video-has-bif .bif-thumbnail .bif-time {
    position: relative;
    width: 100%;
    display: block;
    background: #323b52;
    text-align: center;
    padding: 3px;
    font-size: 12px;
}

.video-has-bif .bif img{
    width: 100%;
    height: auto;
}

.video-has-bif .vjs-time-tooltip {
    display: none !important;
}